<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Bag</title>
    <link rel="stylesheet" href="/css/carrito.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <div class="resumen-general">
        <div class="carrito-contenedor">
          <h2>Tu Carrito de Compras</h2>
          <div class="productos">
            <div class="producto">
              <div class="producto-detalle">
                <img
                  src="https://media.tiffany.com/is/image/Tiffany/EcomBrowseM/return-to-tiffanysmall-tote-bag-73482852_1063998_ED.jpg?defaultImage=NoImageAvailable&op_usm=2,1,6"
                  alt="Bolso de lujo"
                  class="producto-imagen"
                />
                <div class="detalle">
                  <h3 class="producto-nombre">Bolso de Lujo</h3>
                  <p class="producto-precio">Precio: $<span>1200.00</span></p>
                  <div class="producto-cantidad">
                    Cantidad:
                    <input type="number" value="1" min="1" />
                  </div>
                </div>
              </div>
              <div class="producto-total">Subtotal: $<span>1200.00</span></div>
              <button class="producto-eliminar">Eliminar</button>
            </div>
            <!-- Producto 2 -->
            <div class="producto">
              <div class="producto-detalle">
                <img
                  src="https://media.tiffany.com/is/image/Tiffany/EcomBrowseL/tcoflap-card-holder-72224647_1056256_ED.jpg"
                  alt="Reloj de Lujo"
                  class="producto-imagen"
                />
                <div class="detalle">
                  <h3 class="producto-nombre">Reloj de Lujo</h3>
                  <p class="producto-precio">Precio: $<span>2500.00</span></p>
                  <div class="producto-cantidad">
                    Cantidad:
                    <input type="number" value="1" min="1" />
                  </div>
                </div>
              </div>
              <div class="producto-total">Subtotal: $<span>2500.00</span></div>
              <button class="producto-eliminar">Eliminar</button>
            </div>
            <!-- Producto 3 -->
            <div class="producto">
              <div class="producto-detalle">
                <img
                  src="https://media.tiffany.com/is/image/Tiffany/EcomBrowseL/tiffany-leather-care-kit-44291655_969513_ED_M.jpg"
                  alt="Zapatos de Lujo"
                  class="producto-imagen"
                />
                <div class="detalle">
                  <h3 class="producto-nombre">Zapatos de Lujo</h3>
                  <p class="producto-precio">Precio: $<span>800.00</span></p>
                  <div class="producto-cantidad">
                    Cantidad:
                    <input type="number" value="2" min="1" />
                  </div>
                </div>
              </div>
              <div class="producto-total">Subtotal: $<span>1600.00</span></div>
              <button class="producto-eliminar">Eliminar</button>
            </div>
          </div>
          <div class="carrito-resumen">
            <h3>Resumen del Carrito</h3>
            <p>Total: $<span class="carrito-total">5300.00</span></p>
            <button class="boton-comprar">Comprar Ahora</button>
          </div>
        </div>

        <div class="checkout-contenedor">
          <h2>Resumen del pedido</h2>
          <h4>Subtotal:</h4>
          <h4>$4.500</h4>
          <h4>Gastos de envío:</h4>
          <h4>$200</h4>
          <hr />
          <h4>Total:</h4>
          <h4>$4.700</h4>
          <button class="boton-comprar">Pagar</button>
          <h5>Disfrute de envíos y devoluciones gratuitos en su pedido.</h5>
        </div>
      </div>
      <br />
      <div class="img-divisora">
        <div class="text-container">
          <p>
            La elaboración artesanal de los mejores diamantes del mundo comienza
            con saber de dónde vienen. Estamos orgullosos de rastrear el 100% de
            nuestros diamantes en bruto hasta minas y fuentes conocidas.
          </p>
          <p>Siga el viaje de su diamante.</p>
        </div>
      </div>

      <br />
      <div class="formulario-contenedor">
        <h2>Información de Pago</h2>
        <form>
          <label for="nombre">Nombre Completo</label>
          <input type="text" id="nombre" placeholder="Tu Nombre" />
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="tucorreo@ejemplo.com" />
          <label for="direccion">Dirección</label>
          <input type="text" id="direccion" placeholder="Dirección de Envío" />
          <label for="ciudad">Ciudad</label>
          <input type="text" id="ciudad" placeholder="Ciudad" />
          <label for="pais">País</label>
          <input type="text" id="pais" placeholder="País" />
          <label for="codigo-postal">Código Postal</label>
          <input type="text" id="codigo-postal" placeholder="Código Postal" />
          <label for="tarjeta">Número de Tarjeta</label>
          <input type="text" id="tarjeta" placeholder="Número de Tarjeta" />
          <label for="fecha-expiracion">Fecha de Expiración</label>
          <input type="month" id="fecha-expiracion" />
          <label for="cvv">CVV</label>
          <input type="text" id="cvv" placeholder="CVV" />
          <button type="submit" class="boton-pagar">Pagar</button>
        </form>
      </div>
      <div class="gallery">
        <img
          src="https://media.tiffany.com/is/image/Tiffany/EcomBrowseM/paloma-picassoolive-leaf-climber-earrings-60702551_1026018_ED.jpg?&defaultImage=NoImageAvailableInternal&&defaultImage=NoImageAvailableInternal&fmt=webp"
          alt="the beach"
        />
        <img
          src="https://media.tiffany.com/is/image/Tiffany/EcomBrowseM/tiffany-tsmile-pendant-35189459_950626_ED.jpg?&defaultImage=NoImageAvailableInternal&&defaultImage=NoImageAvailableInternal&fmt=webp"
          alt="a girl doing kayak"
        />
        <img
          src="https://media.tiffany.com/is/image/Tiffany/EcomBrowseM/tiffany-lockbangle-73027209_1056708_ED_M.jpg?&defaultImage=NoImageAvailableInternal&&defaultImage=NoImageAvailableInternal&fmt=webp"
        />
        <img
          src="https://media.tiffany.com/is/image/Tiffany/EcomBrowseM/tiffany-knotring-70302527_1034357_ED_M.jpg?&defaultImage=NoImageAvailableInternal&&defaultImage=NoImageAvailableInternal&fmt=webp"
        />
      </div>
    </main>
  </body>
</html>
