<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="login">
      <div form-container>
        <img src="/images/Logo1.PNG" alt="">
        <form>
          <label for="email" class="label" >Email</label><br>
          <input type="email" id="email" name="email" placeholder="Email" class="input input-email"><br>

          <label for="password" class="label">Password:</label><br>
          <input type="password" id="password" name="password" placeholder="*********" class="input input-password"><br>
        </form>
        
        <button class="secondary-button signup-button">Registrarse</button>
      </div>
    </div>
  </body>
</html>