* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color:#c2c8c9;
    padding: 10px;
}

img {
    max-width: 100%;
    display: block;
}

/* Estilos básicos */
main {
    max-width: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    color: #0c1b56;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

/* Estilos del carrito */
.carrito-contenedor, .formulario-contenedor {
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.producto-detalle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto-imagen {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}

.producto-nombre, .producto-precio {
    margin: 0;
    text-align: center;
}

.producto-cantidad {
    margin-top: 10px;
}

input[type="number"], input[type="text"], input[type="email"], input[type="month"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 100px;
    background-color: #fff;
}

.boton-comprar, .boton-pagar, .producto-eliminar {
    background-color: #0c1b56;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; 
}

.boton-comprar:hover, .boton-pagar:hover, .producto-eliminar:hover {
    background-color: #0a163c;
}

.checkout-contenedor{
    display: none;
}

.gallery, .img-divisora{
    display: none;
    width: 57em;
    height: 18em;
    box-sizing: border-box;
}



@media (min-width: 551px) {

    body {
        padding: 20px;
    }

    main {
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
    }

    .producto {
        flex-direction: row;
        align-items: center;
    }

    .producto-detalle {
        flex-direction: row;
        align-items: center;
    }

    .producto-imagen {
        width: 80px;
        margin-right: 20px;
    }

    h2 {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .producto-nombre, .producto-precio {
        text-align: left;
    }

}

@media (min-width: 992px) {

    .producto-total, .producto-eliminar, .carrito-resumen{
        display: none;
    }

    .checkout-contenedor, .img-divisora{
        display: block;
    }

    .img-divisora {
        background-image: url("https://images.pexels.com/photos/3641064/pexels-photo-3641064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: start; 
        align-items: center; 
        height: 20em; 
        color: black;
        cursor: pointer;
        transition: all 0.5s ease; 
        border-radius: 25px;
    }
    
    .text-container {
        padding: 35px;
        padding-right: 45px;
        max-width: 50%; 
        text-align: center; 
        font-weight: bold; 
        transition: opacity 0.5s ease; 
        opacity: 0.8; 
    }
    
    .img-divisora:hover .text-container {
        opacity: 1; 
    }
    
    
    .img-divisora:hover .text-container {
        opacity: 0.5; 
    }
    
    
    
    .resumen-general{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .carrito-contenedor{
        width: 60%;
    }

    .checkout-contenedor{
        width: 40%;
        background-color: #f5f5f5;
        border-radius: 10px;
        padding: 2.2em;
        position: relative;
        bottom: 10px;
    }

    .checkout-contenedor h2{
        position: relative;
        bottom: 16px;
    }

    h4, h2{
        display: flex;
        align-items: center;
        justify-content: left;
        margin-left: 5px;
    }

    h5, .boton-comprar{
        display: flex;
        align-items: center;
    } 
      
    .gallery {
        display: flex;
        justify-content: center; 
        gap: 10px; 
      }
      
      .gallery img {
        cursor: pointer;
        width: 14.2em; 
        height: 15em;
        transition: transform 0.5s ease, box-shadow 0.5s ease; 
        box-shadow: 0px 4px 6px rgba(0,0,0,0.2); 
      }
      
      .gallery img:hover, .img-divisora:hover {
        transform: scale(1.0);
        box-shadow: 0px 8px 12px rgba(0,0,0,0.3); 
      }

      
      
    }      