/* Estilos generales */
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Espacio entre el logo y los campos del formulario */
}

.logo-container img {
    width: 300px;
    height: auto;
    

}
body {
    font-family: Arial, sans-serif;
    background-color:#070f63;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;

}


label {
    font-weight: bold;
    color: rgb(218, 185, 0);
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 100px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    border-radius: 100px;
}
.btn-primary {
    
    background-color: rgb(218, 185, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}