* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Para asegurar que el footer siempre esté en la parte inferior */
}

main {
  flex-grow: 1; /* Para que el contenido principal ocupe todo el espacio disponible */
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
  color: #666;
}

header {
  background-color: var(--yellow);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}

nav .logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Para centrar el formulario */
  margin-top: 50px; /* Ajusta este valor según sea necesario */
  margin-bottom: 50px; /* Ajusta este valor según sea necesario */
  width: 400px; /* Ajusta el ancho del formulario según sea necesario */
}

.controls {
  width: 100%;
  color: #666;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: none;
  font-size: 14px;
  outline: none;
  border: 1px solid rgb(202, 162, 130);
}

.submit {
  margin-top: 20px;
  color: white;
  background-color: #001a3f;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.submit:hover {
  background-color: #000409;
}

.register-link {
  text-decoration: none;
  color: #666;
  margin-top: 10px;
}

.register-link:hover {
  text-decoration: underline;
  color: #252424;
}

footer {
  background-color: #252424;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}