
h1 {
    text-align: center;
}

.container{
    width: 300px;
    height: 500px;
    background: #001a3f;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: 2px solid white;
    box-shadow: 10px 10px 10px black;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container img{
    position: relative;
    top: 5rem;
    border-radius: 50%;
    width: 40%;
    height: 25%;
    padding: 0rem;
    border: 2px solid whitesmoke;
}

.container .username{
    margin-top: 7rem;
    font-size: 1.5rem;
    font-weight:bold;
    color: white;
}

.container .email{
    margin-top: -5rem;
    font-size: 1.5rem;
    font-weight:bold;
    color: white;
}

.container .telefono{
    margin-top: 0.2rem;
    font-size: 1.5rem;
    font-weight:bold;
    color: white;
}