* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
  }
  
  body {
    background-color: #f7f7f7;
    font-size: 12px;
  }
  
  /* Estilos del header */
  .header__1 {
    text-align: center;
    background-color: #0c1b54;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .header__2 {
    display: flex;
    padding: 3px;
  }
  
  .header__categorias {
    padding: 3px;
    font-size: 12px;
    background-color: #caa282;
    color: white;
    width: 100%;
  }
  
  .header__img {
    width: 5%;
  }
  
  .fa-shopping-bag {
    padding: 3px;
    font-size: 10px;
    background-color: #caa282;
    color: white;
  }
  
  /* Estilos de los productos */
  .product-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5em;
  }
  
  .product-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 0.5em;
    width: calc(25% - 1em);
  }
  
  .product-card:hover {
    box-shadow: 0 2px 4px darkgray;
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-details {
    padding: 20px;
  }
  
  .product-name {
    margin: 0;
    font-size: 16px;
  }
  
  .product-price {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .product-description {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  /* Estilos del footer */
  footer {
    padding: 10px;
    background-color: #0c1b54;
    text-align: center;
    color: #fff;
  }
  
  .footer__img {
    width: 20%;
  }