.product-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product-card {
  width: calc(24% - 20px); 
  margin: 0 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}


.product-image {
  width: 100%;
  height: auto;
}


.product-details {
  padding: 15px;
}


.product-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}


.product-price {
  font-weight: bold;
  color: #007bff;
} 


.product-description {
  margin-top: 0;
  margin-bottom: 10px;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action-button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.action-button.delete {
  width: 415px;
}



.action-button.edit {
  background-color: #033170;
}

.action-button.delete {
  background-color: rgb(109, 16, 16);
}