.product-section {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start; /* Alinea las tarjetas en la parte superior */
  background-color: #f4f4f4;
}

/* Estilos del card del producto */
.product-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin: 0.5em; /* Utiliza unidades relativas para el margen */
  width: calc(25% - 1em); /* Calcula el ancho de la tarjeta */
}

.product-card:hover{
  box-shadow: 0 2px 4px darkgray;
}

/* Estilos de la imagen del producto */
.product-image {
  width: 100%;
  height: auto;
}

/* Estilos de los detalles del producto */
.product-details {
  padding: 20px;
}

.product-name {
  margin: 0;
  font-size: 16px;
}

.product-price {
  margin: 0;
  font-size: 15px;
  color: #777;
}

.product-description {
  margin: 5px 0;
  font-size: 14px; /* Tamaño de fuente relativo */
  color: #555;
}

@media (max-width: 1024px) {
  .product-section {
    justify-content: flex-start; /* Cambia a alinear los productos al principio */
  }
  
  .product-card {
    width: calc(25% - 1em); /* Permite 4 tarjetas por fila */
  }
}

@media (max-width: 768px) {
  .product-card {
    width: calc(33.33% - 1em); /* Permite 3 tarjetas por fila */
  }
}

@media (max-width: 480px) {
  .product-card {
    width: calc(50% - 1em); /* Permite 2 tarjetas por fila */
  }
}