.product-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Cambiado a space-around */
  margin-top: 20px;
}

.product-card {
  width: calc(24% - 20px); /* Ajustado el ancho */
  margin: 0 10px 20px; /* Ajustado el margen */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 15px;
}

.product-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.product-price {
  font-weight: bold;
  color: #007bff;
}

.product-description {
  margin-top: 0;
  margin-bottom: 10px;
  max-height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action-button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.action-button.edit {
  background-color: #033170; /* Cambiado el color */
}

.action-button.delete {
  background-color: rgb(109, 16, 16); /* Cambiado el color */
}

.container-icon {
  position: relative;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;
  background-color: #000;
  color: #fff;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 12px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.item {
  border-radius: 10px;
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all .5s;
}

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.2);
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-size: 18px;
  font-weight: 900;
}

.info-product button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer;
}

.cart-empty {
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}