body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    text-align: center;
}

.regresar {
    margin-top: 20px; 
}

footer {
    margin-top: auto;
}
  
.regresar{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #001a3f;
    color: white; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
}
  
.regresar:hover {
    background-color: #0056b3; 
}
  
.loguear:hover {
    background-color: #0056b3; 
}
  
.mantenimiento {
    width: 300px;
}

.meme-chayanne {
  margin-top: 20px;
  width: 600px;
}