.user-section {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

/* Estilos del card del usuario */
.user-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    width: 100%;
    transition: box-shadow 0.3s;
}

.user-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Estilos de la imagen del usuario */
.user-card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

/* Estilos de los detalles del usuario */
.user-info {
    padding: 20px;
}

.user-info h2 {
    margin: 0;
    font-size: 20px;
}

.user-info p {
    margin: 5px 0;
}

.user-info strong {
    font-weight: bold;
    color: #333;
}

@media (min-width: 361px) and (max-width: 768px) {
    .user-card {
        width: calc(50% - 30px); /* 30px de margen entre las tarjetas */
    }
}

@media (min-width: 769px) {
    .user-card {
        width: calc(25% - 30px); /* 30px de margen entre las tarjetas */
    }
}
