<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/cart.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <h1>Aun no tienes articulos en tu carrito!</h1>
    <div class="img-container">
      <img
        src="../../images/carrito.jpg"
        alt="mantenimiento"
        class="mantenimiento"
      />
    </div>
    <div>
      <a href="/login"><button class="loguear">Iniciar sesion</button></a>
      <a href="/"><button class="regresar">Regresar al inicio</button></a>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
