<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito</title>
    <style>
      .regresar {
        background-color: #001a3f;
        color: white;
      }
    </style>
  </head>
  <body>
    <h1>En mantenimiento! En breve todo estara solucionado!</h1>
    <a href="/"><button class="regresar">Regresar al inicio</button></a>
  </body>
</html>
