<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/cart.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <h1>En mantenimiento! En breve todo estara solucionado!</h1>
    <a href="/"><button class="regresar">Regresar al inicio</button></a>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
