<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contáctanos</title>
    <link rel="stylesheet" href="/css/contactUs.css" />
    <script src="/contactUs.js" defer></script>
  </head>
  <body>
    <%- include("partials/header.ejs", { user: user }) %>
    <div class="container">
      <h1>Contáctanos</h1>
      <form
        action="https://formsubmit.co/bijou.boutique.sa@gmail.com"
        method="POST"
      >
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="mensaje">Mensaje:</label>
          <textarea id="mensaje" name="mensaje" required></textarea>
        </div>
        <button type="submit">Enviar</button>
      </form>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
