<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/edit-form.css">
    <title>Edit</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">
            Estás editando: </i>
          </h2>
        </div>
      </div>
      <div class="col-12">
        <form action="/products/<%= products.id %>?_method=PUT" method="POST">
          <div class="row product-detail">
            <div class="col-12">
              <label for="name" class="form-label">Nombre del producto:</label>
              <input type="text" id="name" name="name" placeholder="Ej: Anillo de Rubí Birmano" class="form-input" />
            </div>
            <div class="col-12">
              <label for="price" class="form-label">Precio del producto:</label>
              <input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input" />
            </div>
            <div class="col-12">
              <label for="discount" class="form-label">Descuento:</label>
              <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input" />
            </div>
            <div class="col-12">
              <label for="category" class="form-label">Categoría:</label>
              <select name="category" id="category" class="form-input">
                <option value="">Elegí</option>
                <option value="in-sale">En oferta</option>
                <option value="visited">Últimos agregados</option>
              </select>
            </div>
            <div class="col-12">
              <label for="description" class="form-label">Descripción:</label>
              <textarea name="description" id="description" class="form-input"></textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="buy-now-button">Guardar producto</button>
            </div>
          </div>
          </div>
        </form>
    </div>
  </body>
  <%- include("partials/footer.ejs") %>
</html>
