<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bijou Boutique</title>
    <link rel="stylesheet" href="/css/formulary.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <form action="/products/create" method="POST" enctype="multipart/form-data">
      <div class="form-container">
        <div class="form-group">
          <label for="name">Nombre del producto:</label>
          <br />
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Descripción:</label>
          <br />
          <textarea
            class="form-control"
            id="description"
            name="description"
            rows="3"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="image">Imagen:</label>
          <br />
          <input
            type="file"
            class="form-control-file"
            id="image"
            name="image"
          />
        </div>
        <div class="form-group">
          <label for="color">Colores:</label>
          <br />
          <input
            type="text"
            class="form-control"
            id="color"
            name="color"
            placeholder="Ejemplo: negro, blanco, rojo"
          />
        </div>
        <div class="form-group">
          <label for="price">Precio:</label>
          <br />
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            step="0.01"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
