<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Bijou Boutique</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <main class="container-register">
      <div class="form">
        <form>
          <h2 class="title">Iniciar sesión</h2>
          <input
            class="controls"
            id="user"
            type="text"
            placeholder="Nombre de usuario"
          />
          <input
            class="controls"
            id="pass"
            type="password"
            placeholder="Contraseña"
          />

          <a href="/register" class="register-link"
            ><h5 class="title">¿No tienes cuenta aún? Click aquí!</h5></a
          >

          <input class="submit" type="submit" />
        </form>
      </div>
    </main>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
