<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/perfil.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      rel="stylesheet"
    />
    <title>Perfil</title>
  </head>
  <body>
    <h1>Bienvenido Andres Urbano</h1>
    <section>
      <div class="container">
        <img src="/images/imagen1.jpg" alt="" />
        <p class="username">Andres Urbano</p>
        <p class="email">aurbano535@gmail.com</p>
        <p class="telefono">345166478</p>
      </div>
    </section>
  </body>
</html>
