<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Usuario</title>
    <link rel="stylesheet" href="profile.css">
</head>

<body>
    <div class="container">
        <div class="left-box"></div>
        <div class="right-box">
            <p>nombre:</p>
            <p>apellido:</p>
            <p>mail:</p>
            <a href="#" class="change-password">cambiar contraseña</a>
            <div class="buttons">
                <button>Inicio</button>
                <button>Cerrar sesión</button>
            </div>
        </div>
    </div>
</body>
</html>