<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Usuario</title>
    <link rel="stylesheet" href="css/profile.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
      <div class="left-box"></div>
      <div class="right-box">
        <p>Nombre:</p>
        <p>Apellido:</p>
        <p>E-mail:</p>
        <a href="#" class="change-password">Cambiar contraseña</a>
        <div class="buttons">
          <button>Inicio</button>
          <button>Cerrar sesión</button>
        </div>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
