<!-- register.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/register.css" />
    <title>Bijou Boutique</title>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <main class="container-register">
        <div class="form">
            <form action="/" method="POST" enctype="multipart/form-data">
                <h2 class="title">Registrar usuario</h2>
                <input class="controls" id="name" name="name" type="text" placeholder="Nombre" />
                <input class="controls" id="surname" name="surname" type="text" placeholder="Apellido" />
                <!--<input class="controls" id="user" name="username" type="text" placeholder="Nombre de usuario" />-->
                <input class="controls" id="pass" name="password" type="password" placeholder="Contraseña" />
                <!--<input class="controls" id="confirmPass" name="confirmPassword" type="password" placeholder="Confirmar contraseña" />-->
                <input class="controls" id="mail" name="email" type="email" placeholder="E-mail" />
                <!--<h3>Fecha de nacimiento</h3>
                <input class="controls" id="date" name="dateOfBirth" type="date" placeholder="mm/dd/yyyy" />
                <input class="controls" id="address" name="address" type="text" placeholder="Domicilio" />-->

               <!--<h3>Intereses</h3>
                <div class="interests">
                    <input type="checkbox" value="Anillos" name="interes1" id="interes1" />
                    <label for="interes1">Anillos</label><br />
                    <input type="checkbox" value="Pulseras" name="interes2" id="interes2" />
                    <label for="interes2">Pulseras</label><br />
                    <input type="checkbox" value="Colgantes" name="interes3" id="interes3" />
                    <label for="interes3">Colgantes</label><br />
                    <input type="checkbox" value="Dijes" name="interes4" id="interes4" />
                    <label for="interes4">Dijes</label><br />
                    <input type="checkbox" value="Relojes" name="interes5" id="interes5" />
                    <label for="interes5">Relojes</label><br />
                    <input type="checkbox" value="Acero quirúrgico" name="interes6" id="interes6" />
                    <label for="interes6">Acero quirúrgico</label>--> 
                    <br/>
                    <input type="file" name="users-image">
                    <input class="submit" type="submit" />
                    <input class="submit reset" type="reset" onclick="alert('Datos reestablecidos')" />
                </div
            </form>
        </div>
    </main>

    <%- include("partials/footer.ejs") %>
</body>
</html>