<!-- register.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/register.css" />
    <title>Bijou Boutique</title>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <main class="container-register">
        <div class="form">
            <form action="/" method="POST" enctype="multipart/form-data">
                <h2 class="title">Registrar usuario</h2>
                <input class="controls" id="name" name="name" type="text" placeholder="Nombre" />
                <input class="controls" id="surname" name="surname" type="text" placeholder="Apellido" />
                <input class="controls" id="pass" name="password" type="password" placeholder="Contraseña" />
                <input class="controls" id="mail" name="email" type="email" placeholder="E-mail" />
                    <br/>
                    <input type="file" name="image">
                    <input class="submit" type="submit" />
                    <input class="submit reset" type="reset" onclick="alert('Datos reestablecidos')" />
            </div>
            </form>
        </div>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>