<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      a button {
        background-color: black;
        color: white;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <h1>Logueado con exito!!!!</h1>
    <a href="/"><button>Regresar al inicio</button></a>
  </body>
</html>
