<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Succes</title>
    <link rel="stylesheet" href="/css/success.css" />
  </head>
  <body>
    <%- include("partials/header.ejs", { user: user }) %>
    <div class="img-container">
      <img src="../../images/chayanne.jpg" alt="meme" class="meme-chayanne" />
    </div>
    <h1>Te damos la bienvenida <%= user.name %>!!!</h1>
    <a href="/"><button class="regresar">Volver al inicio</button></a>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
