<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/cart.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <h1>
      Te has logueado correctamente! Seras redirigido a tu perfil en breve...
    </h1>
    <a href="/"><button class="regresar">Regresar manualmente</button></a>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
