<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Validation</title>
    <link rel="stylesheet" href="/css/validation.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="img-container">
      <img src="../../images/altoahiloca.jpg" alt="meme" />
    </div>
    <h1>
      Esta pagina es solo para usuarios! Inicia sesion para ver mas contenido.
    </h1>
    <a href="/"><button class="regresar">Regresar al inicio</button></a>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
