<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bijou Boutique</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="website icon" type="png"
    href="images/brandmark@2x-8.png">
  </head>
  
<footer class="footer">
    <div class="footer__section">
      <i class="fas fa-credit-card"></i>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>
        Con Bijou Boutique Cash, tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
      </p>
    </div>
    <div class="footer__section">
      <i class="fas fa-gift"></i>
      <h4>Envío gratis desde $30.000</h4>
      <p>
        Solo por estar registrad@ en Bijou Boutique tenés envíos gratis en
        miles de productos. Es un beneficio de Mercado Puntos.
      </p>
    </div>
    <div class="footer__section">
      <i class="fas fa-user-shield"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p>
        ¿No te gusta? ¡Devolvelo! En Bijou Boutique, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
    </div>
    <div class="footer__section">
      <i class="fas fa-copyright"></i>
      <p>Copyright © 1999-2024 Bijou Boutique S.R.L.</p>
    </div>
  </footer>