<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="website icon" type="png" href="images/brandmark@2x-8.png" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bijou Boutique</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <div class="logo-container">
        <a href="/"
          ><img src="/images/bijou-boutique.png" alt="Logo de la tienda"
        /></a>
      </div>

      <div class="icons-container">
        <a href="/login"><i class="fas fa-user"></i></a>
        <!-- Icono de Login -->
        <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
        <!-- Icono de Carrito -->
        <i class="fas fa-heart"></i>
        <!-- Icono de Artículos Favoritos -->
      </div>
    </header>
  </body>
</html>
